*{
    padding: 0;
    margin: 0;
}
::selection {
    background: transparent
}
body{
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-weight: bold;
    color:white;
    background-color: lightpink;
}
#gameholder{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cloudholder{
    overflow: hidden;
    z-index: 2;
    position: fixed;
    width: 1000px;
    height: 500px;
}
#game{
    width: 1000px;
    height: 500px;
    border: 3px solid black;
    overflow: hidden;
    background-color: lightskyblue;
    z-index: 1;
}
#game:active {
    -webkit-tap-highlight-color: transparent;
}
#game3d{
    position: fixed;
    background-color: #FED766;
    z-index: 0;
    width: 1000px;
    height: 500px;
    margin-left: 40px;
    margin-top: 40px;
    border: 3px solid black;
    overflow: hidden;
}
#levelDivHolder{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#levelDiv{
    overflow: hidden;
    width: 450px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
#levelText{
    color: black;
    font-size: 30px;
    font-weight: bold;
}
#progressbarholder{
    width: 400px;
}
#levelBar{
    border-radius: 40px; 
    width: 100%;
    height: 30px;
}
#levelbar3d{
    margin-top: -20px;
    margin-left: 8px;
    width: 98%;
    height: 20px;
    border: 3px solid black;
    background-color: #FED766;
}
progress::-webkit-progress-bar {
    background-color: white;
    border: 3px solid black;
}
progress::-webkit-progress-value {
    background-color: lightgreen;
    border-right: 3px solid black;
}
#gameOver{
    position: fixed;
    width: 300px;
    height: 193px;
    border: 3px solid black;
    background-color: #fe6666;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#gameOver3d{
    position: fixed;
    width: 300px;
    height: 193px;
    border: 3px solid black;
    background-color: #FED766;
    margin-left: 30px;
    margin-top: 30px;
    z-index: 2;
}
#gameoverText{
    font-size: 50px;
}
#scoreText{
    font-size: 30px;
}
#highscoreText{
    font-size: 20px;
}
#levelTextGameOver{
    font-size: 15px; 
}
#gameoverbutton{
    outline: none;
    margin-right: 15px;
    transition: .1s;
    color:black;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    width: 80px;
    height: 35px;
    background-color:lightgreen;
    border: 3px solid black;
}
#gameoverbutton:active{
    margin-right: 0px;
    cursor: pointer;
    background-color: #5cd65c;
}
#gameoverbutton:hover{
    cursor: pointer;
}
#gameoverbutton3d{
    margin-top: 148px;
    position: fixed;
    width: 74px;
    height: 29px;
    background-color: #FED766;
    border: 3px solid black;
    z-index: -1;
}
#character{
    width: 40px;
    height: 100px;
    position: relative;
    top: 350px;
    left: 50px;
}
#characterPic{
    position: fixed;
    width: 40px;
    height: 100px;
}
.animate{
    animation: jump .7s;
}
@keyframes jump{
    0%{top: 350px;}
    20%{top: 280px;}
    60%{top: 280px;}
    100%{top: 350px;}
}
.animate2{
    animation: doublejump .7s;
}
@keyframes doublejump{
    0%{top: 280px;}
    20%{top: 230px;}
    60%{top: 230px;}
    100%{top: 350px;}
}
#block1{
    width: 40px;
    height: 40px;
    position: relative;
    top: 310px;
    left: 480px;
}
#block2{ 
    width: 40px;
    height: 40px;
    position: relative;
    top: 270px;
    left: 480px;
}
@keyframes block{
    0%{left: 1100px;}
    100%{left: -100px;}
}
@keyframes block2{ 
    0%{left: 1200px;}
    100%{left: -100px;}
}
@keyframes grass{
    0%{left: 0px;}
    100%{left: -1000px;}
}
@keyframes grass2{
    0%{left: 1000px;}
    100%{left: 0px;}
}
@keyframes cloud{
    0%{margin-left: 1050px;}
    100%{margin-left: -100px;}
}
@keyframes cloud2{
    0%{margin-left: 1500px;}
    100%{margin-left: -100px;}
}
@keyframes cloud3{
    0%{margin-left: 1900px;}
    100%{margin-left: -100px;}
}

#cloud1{
    position: absolute;
    height: 50px;
    width: 100px;
    margin-top: 20px;
    animation: cloud 40s infinite linear;
}
#cloud2{
    position: absolute;
    height: 40px;
    width: 80px;
    margin-top: 100px;
    animation: cloud 100s infinite linear;
}
#cloud3{
    position: absolute;
    height: 20px;
    width: 40px;
    margin-top: 160px;
    animation: cloud2 80s infinite linear;
}
#cloud4{
    position: absolute;
    height: 10px;
    width: 20px;
    margin-top: 200px;
    animation: cloud3 60s infinite linear;
}
#counter{
    font-size: 50px;
    position: fixed;
    margin-left: 10px;
}
#starttext{
    visibility: visible;
    position: fixed;
    font-size: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}
#grass{
    position: relative;
    height: 50px;
    width: 1000px;
    top: 270px;
    animation: grass 2.5s infinite linear;
}
#grass2{
    position: relative;
    height: 50px;
    width: 1000px;
    top: 217px;
    left:1000px;
    animation: grass2 2.5s infinite linear;
}
#incompatibleDevice{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 99999;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#incDevText{
    color:black;
    width: 60%;
    text-align: center;
}
#buttonholder{
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#buttondiv{
    position: fixed;
    width: 220px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#settingbutton{

}
#homebutton{

}
.buttons{
    z-index: 9999;
    border: 3px solid black;
    background-color:lightgreen;
    width: 70px;
    height: 70px;
    outline: none;
    border-radius: 100%;
}
.buttons:hover{
    cursor: pointer;
}
.buttons:active{
    background-color: #5cd65c;
}
.buttonicons{
    transform: scale(1.5);
}
#hometab{
    visibility: hidden;
    position: fixed;
    width: 1000px;
    height: 500px;
    border: 3px solid black;
    overflow: hidden;
    background-color: lightslategray;
    z-index: 9;
}
#settingstab{
    visibility: hidden;
    position: fixed;
    width: 1000px;
    height: 500px;
    border: 3px solid black;
    overflow: hidden;
    background-color: red;
    z-index: 9;
}
@media only screen and (max-width: 550px) {
    #levelDiv{
        overflow: hidden;
        width: 250px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    #levelText{
        color: black;
        font-size: 30px;
        font-weight: bold;
    }
    #progressbarholder{
        width: 200px;
    }
    #levelBar{
        border-radius: 40px; 
        width: 100%;
        height: 30px;
    }
    #levelbar3d{
        margin-top: -20px;
        margin-left: 8px;
        width: 98%;
        height: 20px;
        border: 3px solid black;
        background-color: #FED766;
    }
}
@media only screen and (max-width: 800px) {
    .buttons{
        width: 40px;
        height: 40px;
    }
    .buttonicons{
        transform: scale(1);
    }
    #buttondiv{
        width: 80px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
@media only screen and (max-height: 750px) {
    #hometab{
        margin-top:100px;
    }
    #settingstab{
        margin-top:100px;
    }
    #game{
        margin-top:100px;
    }
    #cloudholder{
        margin-top:100px;
    }
    #game3d{
        margin-top:140px;
    }
    #starttext{
        margin-top: 40px;
    }
}
@media only screen and (max-height: 650px) {
    #incompatibleDevice{
        visibility: visible;
    }
}
